<#include "/macro.include"/>
<#assign className = table.className>   
<#assign classNameLower = className?uncap_first> 
<#assign ldelim = "{"> 
<#assign rdelim = "}"> 
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="${basepackage}.dao.${className}Dao">
	<!-- 用于select查询公用抽取的列 -->
	<sql id="commonColumns">
	    <![CDATA[
        <#list table.columns as column>
        	${column.sqlName} as ${column.columnNameLower} <#if column_has_next>,</#if>
        </#list>
	    ]]>
	</sql>
    
	<!-- 新增记录 -->
	<insert id="insert" parameterType="${basepackage}.model.${className}" useGeneratedKeys="true" keyProperty="<#list table.columns as column><#if column.pk>${column.columnNameLower}</#if></#list>" >
    <![CDATA[
        INSERT INTO ${table.sqlName} (
        <#list table.columns as column>
        	${column.sqlName} <#if column_has_next>,</#if>
        </#list>
        ) VALUES (
        <#list table.columns as column>
        	#${ldelim}${column.columnNameLower}${rdelim} <#if column_has_next>,</#if>
        </#list>        
        )
    ]]>
        <selectKey resultType="java.lang.Long" keyProperty="<#list table.columns as column><#if column.pk>${column.columnNameLower}</#if></#list>" >
            select last_insert_id()
        </selectKey>
    </insert>
	
	<!-- 更新记录 -->
	<update id="update" parameterType="${basepackage}.model.${className}">
        UPDATE ${table.sqlName}
        <set>
			<#list table.columns as column>
	        <#if !column.pk>
	        <if test="${column.columnNameLower} != null">
				${column.sqlName} = #${ldelim}${column.columnNameLower}${rdelim},
			</if>
	        </#if>
	        </#list>
		</set>
	    <![CDATA[ WHERE 
        	<#list table.compositeIdColumns as column>
	        ${column.sqlName} = #${ldelim}${column.columnNameLower}${rdelim} <#if column_has_next>,</#if>
	        </#list>
        ]]>
    </update>

	<!-- 根据主键查询 -->
    <select id="queryOne" parameterType="java.lang.Long" resultType="${basepackage}.model.${className}">
	    select <include refid="commonColumns"/>
	    <![CDATA[ from ${table.sqlName} where 
				<#list table.compositeIdColumns as column>
		        ${column.sqlName} = #${ldelim}${column.columnNameLower}${rdelim} <#if column_has_next>,</#if>
		        </#list>
	    ]]>
    </select>

</mapper>